---

const { 
title, 
title1,
heading1,
} = Astro.props;
---

<div id="banner-849">
    <div class="cs-container">
        <span class="cs-int-title">{title}</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg" alt="yoga" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</div>


<section id="content-page-849">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">{title1}<span class="cs-color">Well-Being</span></h1>
            <h2>{heading1}</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4-6</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum adipisci, ipsum commodi, cupiditate, sequi quos enim! Quaerat esse non sunt! Lorem ipsum dolor sit amet <a href="">link example</a>. Est, quis!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum <strong>adipisci, ipsum commodi</strong>, cupiditate, sequi quos enim! 
            </p>
            <h3>Heading 3</h3>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ol>
            <h4>Heading 4-6</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
        <div class="cs-image-group">
            <!--Top Picture-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent1.jpg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent1.jpg" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
            <!--Top Picture-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent2.jpg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent2.jpg" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                
<style lang="less">
    /*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #banner-849 {
        /* 175px - 260px top */
        padding: clamp(10.9375rem, 20vw, 16.25rem) (16/16rem)
            clamp(6.25rem, 14vw, 12vw);
        /* clips svg wave from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.64;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-wave {
            /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
            width: (768/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #banner-849 {
        .cs-background {
            &:before {
                opacity: 1;
                background: linear-gradient(
                    90.01deg,
                    rgba(0, 0, 0, 0.9) 16.86%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }

        .cs-wave {
            width: 100%;
            left: 0;
            transform: none;
        }
    }
}

/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-849 {
        padding: var(--sectionPadding);
        background-color: #fff;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        h2 {
            font-size: (32/16rem);
            margin-top: (32/16rem);
        }

        h3 {
            font-size: (24/16rem);
            color: var(--primary);
        }

        h4,
        h5,
        h6 {
            font-size: (20/16rem);
        }

        .cs-button-solid {
            margin-bottom: (32/16rem);
        }

        .cs-no-margin {
            margin: 0;
        }

        .cs-color {
            color: var(--primary);
        }

        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary);
            }
        }

        ol,
        ul {
            padding-left: (24/16rem);
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: (10/16rem);
                    left: (-12/16rem);
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .cs-image-group {
            width: 50%;
            max-width: (542/16rem);
            display: none;
            position: relative;
            flex-direction: column;
            gap: (20/16rem);
        }

        .cs-picture {
            width: 100%;
            /* 300px - 520px */
            height: clamp(18.75rem, 40vw, 32.5rem);
            box-shadow: 0px 3.3478px 50.2169px rgba(0, 0, 0, 0.16);
            /* 125px - 200px */
            border-radius: clamp(7.8125rem, 15vw, 12.5rem) 0
                clamp(7.8125rem, 15vw, 12.5rem) 0;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-849 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        .cs-content {
            flex: none;
            width: 60%;
        }

        .cs-image-group {
            display: flex;
        }
    }
}
                                
</style>